# Ignore everything that makes the project heavy
Assets/phpMail/
Assets/Templates/
*.sql
*.zip
*.rar
.vscode/

# New: Ignore personal photos of friends
Assets/page/*.jpg
Assets/page/*.png
Assets/page/*.jpeg